.container {
  display: flex;
  .board-wrapper {
    .drop-row {
      padding: 0 20px;
      position: absolute;
      .drop-slot {
        display: inline-block;
        width: 110px;
        height: 180px;
      }
    }
    .board {
      background: yellow;
      width: 785px;
      height: 680px;
      padding: 10px;
      margin-top: 80px;
      margin-left: 20px;
    }
  }
  .side-board-wrapper {
    .piece-wrapper {
      background: lightblue;
      height: 215px;
      margin-top: 84px;
      margin-left: 50px;
      padding: 15px;
      .chip {
        margin: 45px 90px 0;
      }
      .player-text {
        margin: 10px 95px 0;
        font-weight: bold;
        font-size: 20px;
      }
      .turn-text {
        margin: 10px 105px 0;
        font-size: 18px;
      }
    }
  }
  .chip {
    border-radius: 40px;
    height: 80px;
    width: 80px;
    background: white;
    margin: 15px;
    display: inline-block;
    position: relative;
    border: 1px black solid;
    &.red {
      background: red;
      svg {
        opacity: 0.5;
      }
    }
    &.black {
      background: black;
      svg {
        color: white;
        opacity: 0.15;
      }
    }
    svg {
      position: absolute;
      top: 12px;
      left: 9px;
      font-size: 50px;
    }
  }
}
.modal-open {
  position: relative;
  .modal-backdrop {
    opacity: 0.3;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  .modal {
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 2px;
    .single-btn-wrapper {
      margin: 15px 0;
      text-align: center;
    }
    .color-btn {
      width: 85px;
      height: 30px;
      font-weight: bold;
      font-size: 20px;
      margin-top: 15px;
      &.red {
        background: red;
        margin: 0 22px;
      }
      &.black {
        background: black;
        color: white;
      }
    }
  }
}
